backports.tarfile==1.2.0
black==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
coverage==7.6.12
docutils==0.21.2
exceptiongroup==1.2.2
id==1.5.0
idna==3.10
importlib-metadata==8.6.1
iniconfig==2.0.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.6.0
markdown-it-py==3.0.0
marshmallow==3.26.1
mdurl==0.1.2
more-itertools==10.6.0
mypy-extensions==1.0.0
nh3==0.2.21
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
pluggy==1.5.0
pygments==2.19.1
pytest==8.3.5
pytest-cov==6.0.0
pytest-cover==3.0.0
pytest-coverage==0.0
readme-renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
tomli==2.2.1
twine==6.1.0
typing==3.7.4.3
typing-extensions==4.12.2
urllib3==2.3.0
zipp==3.21.0
